* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: white;
}

body {
    background-color: #222831;
    font-family: Montserrat;
    overflow-x: hidden;
}

article,
aside,
details,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
}

img {
    border: none;
}

*:focus {
    outline: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bg-illustration {
    position: relative;
    height: 100vh;
    width: 1194px;
    background: url("https://i.imgur.com/dec02cm.jpg") no-repeat center
    center scroll;
    background-size: cover;
    float: left;
    -webkit-animation: bgslide 2.3s forwards;
    animation: bgslide 2.3s forwards;
}
.bg-illustration img {
    width: 248px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    margin: 19px 0 0 25px;
}

@-webkit-keyframes bgslide {
    from {
        left: -100%;
        width: 0;
        opacity: 0;
    }
    to {
        left: 0;
        width: 1194px;
        opacity: 1;
    }
}

@keyframes bgslide {
    from {
        left: -100%;
        width: 0;
        opacity: 0;
    }
    to {
        left: 0;
        width: 1194px;
        opacity: 1;
    }
}

.login {
    max-height: 100vh;
    overflow-y: auto;
    float: left;
    margin: 0 auto;
    width: calc(100% - 1194px);
}
.login .container {
    width: 505px;
    margin: 0 auto;
    position: relative;
}
.login .container h1 {
    color: #ea0707;
    margin-top: 100px;
    font-size: 35px;
    font-weight: bolder;
}
.login .container .login-form {
    margin-top: 112px;
}
.login .container .login-form form {
    display: -ms-grid;
    display: grid;
}
.login .container .login-form form input {
    font-size: 20px;
    font-weight: normal;
    background: rgba(57, 57, 57, 0.07);
    margin: 12.5px 0;
    height: 68px;
    border: none;
    padding: 0 30px;
    border-radius: 10px;
}
.login .container .login-form form button[type="submit"] {
    background: -webkit-linear-gradient(110deg, #ac1933 0%, #dc4403 100%);
    background: -o-linear-gradient(110deg, #87152b 0%, #dc4403 100%);
    background: linear-gradient(-20deg, #781127 0%, #dc4403 100%);
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 241px;
    height: 58px;
    text-transform: uppercase;
    color: #222831;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
}
.login .container .login-form form button[type="submit"]:hover::after {
    opacity: 1;
}
.login .container .login-form form button[type="submit"]::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#09203f),
            to(#537895)
    );
    background: -webkit-linear-gradient(110deg, #dc4403 0%, #781127 100%);
    background: -o-linear-gradient(110deg, #dc4403 0%, #781127 100%);
    background: linear-gradient(-20deg, #dc4403 0%, #781127 100%);
}
.login .container .remember-form {
    position: relative;
    margin-top: -30px;
}
.login .container .remember-form input[type="checkbox"] {
    margin-top: 9px;
}
.login .container .remember-form span {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 32px;
    color: #ffffff;
    margin-left: 15px;
}
.login .container .forget-pass {
    position: absolute;
    right: 0;
    margin-top: 189px;
}
.login .container .forget-pass a {
    font-size: 16px;
    position: relative;
    font-weight: normal;
    color: #ffffff;
}
.login .container .forget-pass a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
}
.login .container .forget-pass a:hover::after {
    opacity: 1;
}

@media only screen and (min-width: 1024px) and (max-width: 1680px) {
    .bg-illustration {
        width: 50%;
        -webkit-animation: none;
        animation: none;
    }

    .login {
        width: 50%;
    }
}
/* Display 12", iPad PRO Portrait, iPad landscape */
@media only screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    @-webkit-keyframes slideIn {
        from {
            left: -100%;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            left: -100%;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }
    .bg-illustration {
        float: none;
        background: url("https://i.imgur.com/dec02cm.jpg") center center;
        background-size: cover;
        -webkit-animation: slideIn 0.8s ease-in-out forwards;
        animation: slideIn 0.8s ease-in-out forwards;
        width: 100%;
        height: 190px;
        text-align: center;
    }
    .bg-illustration img {
        width: 100px;
        height: auto;
        margin: 20px auto !important;
        text-align: center;
    }
    .bg-illustration .burger-btn {
        left: 33px;
        top: 29px;
        display: block;
        position: absolute;
    }
    .bg-illustration .burger-btn span {
        display: block;
        height: 4px;
        margin: 6px;
        background-color: #222831;
    }
    .bg-illustration .burger-btn span:nth-child(1) {
        width: 37px;
    }
    .bg-illustration .burger-btn span:nth-child(2) {
        width: 28px;
    }
    .bg-illustration .burger-btn span:nth-child(3) {
        width: 20px;
    }

    .login {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .login .container {
        -webkit-animation: slideIn 0.8s ease-in-out forwards;
        animation: slideIn 0.8s ease-in-out forwards;
        width: 85%;
        float: none;
    }
    .login .container h1 {
        font-size: 25px;
        margin-top: 40px;
    }
    .login .container .login-form {
        margin-top: 90px;
    }
    .login .container .login-form form input {
        height: 45px;
    }
    .login .container .login-form form button[type="submit"] {
        height: 45px;
        margin-top: 100px;
    }
    .login .container .login-form .remember-form {
        position: relative;
        margin-top: -14px;
    }
    .login .container .login-form .remember-form span {
        font-size: 16px;
        margin-top: 22px;
        top: inherit;
    }

    .forget-pass {
        position: absolute;
        right: inherit;
        left: 0;
        bottom: -40px;
        margin: 0 !important;
    }
    .forget-pass a {
        font-size: 16px;
        position: relative;
        font-weight: normal;
        color: #ffffff;
    }
    .forget-pass a::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 100px;
        background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
        background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
        background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
        bottom: -4px;
        left: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
        right: 0;
    }
    .forget-pass a:hover::after {
        opacity: 1;
    }
}
/*
BUTTON HOVER
 */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #454545;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222831;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.login .container .login-form form button[type="button"] {
    background: -webkit-linear-gradient(110deg, #ac1933 0%, #dc4403 100%);
    background: -o-linear-gradient(110deg, #87152b 0%, #dc4403 100%);
    background: linear-gradient(-20deg, #781127 0%, #dc4403 100%);
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 241px;
    height: 58px;
    text-transform: uppercase;
    color: #222831;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
}
.login .container .login-form form button[type="button"]:hover::after {
    opacity: 1;
}
.login .container .login-form form button[type="button"]::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#09203f),
            to(#537895)
    );
    background: -webkit-linear-gradient(110deg, #dc4403 0%, #781127 100%);
    background: -o-linear-gradient(110deg, #dc4403 0%, #781127 100%);
    background: linear-gradient(-20deg, #dc4403 0%, #781127 100%);
}