<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="icon" type="image/png" href="../static/assets/img/navbar-logo.svg" th:href="@{/assets/img/navbar-logo.svg}"/>
    <link href="../static/css/style.css" th:href="@{/style.css}" rel="stylesheet"/>



    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TheEvent Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>
<body>


<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!--             Uncomment below if you prefer to use a text logo
                        <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="" th:href="@{/}" class="scrollto"><img th:src="@{/assets/img/logo.png}"
                                                            src="../static/assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul th:if="${currentUser != null}">

                <li><a class="nav-link" href="#"
                       th:href="@{/users/leaderboard}">Leaderboard</a>
                </li>

                <li><a class="nav-link" href="#" th:href="@{/contests/ongoing}">Contests</a>
                </li>
                <li th:if="${currentUser.isOrganizer()}" ><a class="nav-link" href="#"
                                                             th:href="@{/users}">Users</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/notifications}">Notifications</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/categories}">Categories</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/users/{id}/profile(id=${currentUser.getId()})}">Profile</a>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" th:if="${currentUser == null}" th:href="@{/auth/login}" href="#buy-tickets">Login</a>
        <a class="buy-tickets scrollto" th:if="${currentUser != null}" th:href="@{/auth/logout}" href="#buy-tickets">Logout</a>
    </div>
</header><!-- End Header -->
<!-- ======= Hotels Section ======= -->
<section id="hotels" class="section-with-bg">

    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Categories</h2>
        </div>

        <div class="outer">
            <div th:if="${currentUser.isOrganizer()}">
                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"
                               th:href="@{/categories/new}">
                            <button class="glow-on-hover" type="button">Create New</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-4" th:each="category : ${categories}">
                <div class="hotel">

                    <h3 th:text="*{category.getId()}" >ID</h3>
                        <div class="categories-color" th:text="*{category.getName()}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section><!-- End Hotels Section -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


</body>
</html>