<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contests</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">


</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!--             Uncomment below if you prefer to use a text logo
                        <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="" th:href="@{/}" class="scrollto"><img th:src="@{/assets/img/logo.png}"
                                                            src="../static/assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul th:if="${currentUser == null}">
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Contests</a></li>
                <li><a class="nav-link scrollto" href="#venue">Top pictures</a></li>
                <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                <li><a class="nav-link scrollto" href="#buy-tickets">Ranks</a></li>
            </ul>
            <ul th:if="${currentUser != null}">

                <li><a class="nav-link" href="#"
                       th:href="@{/users/leaderboard}">Leaderboard</a>
                </li>

                <li><a class="nav-link" href="#" th:href="@{/contests/ongoing}">Contests</a>
                </li>
                <li th:if="${currentUser.isOrganizer()}" ><a class="nav-link" href="#"
                                                             th:href="@{/users}">Users</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/notifications}">Notifications</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/categories}">Categories</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/users/{id}/profile(id=${currentUser.getId()})}">Profile</a>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" th:if="${currentUser == null}" th:href="@{/auth/login}" href="#buy-tickets">Login</a>
        <a class="buy-tickets scrollto" th:if="${currentUser != null}" th:href="@{/auth/logout}" href="#buy-tickets">Logout</a>
    </div>
</header><!-- End Header -->


<section id="speakers">
    <div class="container">
        <div class="section-header">
            <h2>Contests</h2>
        </div>
        <div class="outer">
            <div th:if="${currentUser.isOrganizer()}">
                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"

                               th:href="@{/contests}">
                            <button class="glow-on-hover" type="button">All contests</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"

                               th:href="@{/contests/ongoing}">
                            <button class="glow-on-hover" type="button">Ongoing contests</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"

                               th:href="@{/contests/voting}">
                            <button class="glow-on-hover" type="button">Voting Contests</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="inner">

                    <ul>
                        <li><a class="nav-link" href="#"
                               th:href="@{/contests/finished}">
                            <button class="glow-on-hover" type="button">Finished Contests</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>

                </div>

                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"

                               th:href="@{/contests/new}">
                            <button class="glow-on-hover" type="button">Create New</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>


                </div>
            </div>

            <div th:if="${currentUser.isUser()}" class="outer">
                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"
                               th:href="@{/contests/own/users/{id}(id=${currentUser.getId()})}">
                            <button class="glow-on-hover" type="button">Own Contests</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"
                               th:href="@{/contests/ongoing}">
                            <button class="glow-on-hover" type="button">Ongoing Contests</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>
                </div>

                <div class="inner" th:each="point : ${currentUser.getPoints()}">
                        <ul>

                            <li th:if="*{point.getPoints() > 150}"
                            ><a class="nav-link" href="#"

                                th:href="@{/contests/voting}">
                                <button class="glow-on-hover" type="button">Voting Contests</button>
                            </a>
                            </li>
                        </ul>

                </div>

                <div class="inner">
                    <ul>
                        <li><a class="nav-link" href="#"
                               th:href="@{/contests/finished}">
                            <button class="glow-on-hover" type="button">Finished Contests</button>
                        </a></li>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-6" th:each="contest: ${contests}">
                    <ul >
                        <div class="speaker">
                            <img th:src="*{contest.getBackgroundImage()}" src="/assets/img/speakers/1.jpg"
                                 alt="Speaker 1" class="img-fluid">
                            <div class="contest-type">
                                <div class="contest-type-text" th:text="*{contest.getType().getName().toUpperCase()}">
                                    Open
                                </div>
                            </div>
                            <div class="details">
                                <h3 th:text="*{contest.getCategory().getName()}"></h3>
                                <p>
                                    <span>FINISHING: </span>
                                <span th:text="${#dates.format(contest.getTimeTillFinished(),'yyyy-MM-dd HH:mm')}" ></span>
                                </p>
                                    <p th:text="*{contest.getPhase().getName().toUpperCase()}">Quas alias incidunt</p>
                                <div class="social">
                                    <a th:href="@{/contests/{id}(id=${contest.getId()})}" href="#"><button class="glow-on-hover">VISIT</button></a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </ul>
            </div>
        </div>
        </div>

</section>

<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>
</html>