<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>


    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/multiselect/style.css}" href="../static/multiselect/style.css">
</head>
<body>


<div class="login-page">
    <div class="form">
        <form class="login-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${contest}"
              method="post" enctype="multipart/form-data">

            <div>
                <input type="text" placeholder="Contest Title" th:field="*{title}">
                <p th:errors="*{title}">Contest title error</p>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-own">Contest category</p>
                    <select class="form-control multiselect multiselect-icon" th:field="*{categoryId}">
                        <option th:each="category : ${categories}"
                                th:value="${category.getId()}"
                                th:text="${category.getName()}">
                            <p th:errors="*{categoryId}">Category name error</p>
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-own">Contest type</p>
                    <select class="form-control multiselect multiselect-icon" th:field="*{typeId}">
                        <option th:each="type : ${types}"
                                th:value="${type.getId()}"
                                th:text="${type.getName()}">
                            <p th:errors="*{typeId}">Type name error</p>
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <p class="text-own">Days till voting phase(from 1 to 30)</p>
                        <input type="number" placeholder="Days Till Second Phase" th:field="*{phaseOne}">
                        <p th:errors="*{phaseOne}">Days Till Second Phase error</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <br>
                        <p class="text-own">Voting hours(from 1 to 24)</p>
                        <input type="number" placeholder="Hours Till Third Phase" th:field="*{phaseTwo}">
                        <p th:errors="*{phaseTwo}">Days Till Third Phase error</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <section class="ftco-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-5 d-flex justify-content-center align-items-center">
                                    <div class="d-flex text-left align-items-center w-100">
                                        <strong class="sl">Participants</strong>
                                        <select id="multiple-checkboxes" multiple="multiple"
                                                th:field="*{participants}">
                                            <option th:each="participant : ${participants}"
                                                    th:value="${participant.getId()}"
                                                    th:text="${participant.getUserCredentials().userName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-5">
                    <section class="ftco-section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-8 col-lg-5 d-flex justify-content-center align-items-center">
                                    <div class="d-flex text-left align-items-center w-100">
                                        <strong class="sl">Jury</strong>
                                        <select id="multiple-checkboxes2" multiple="multiple" th:field="*{jury}">
                                            <option th:each="user : ${jury}"
                                                    th:value="${user.getId()}"
                                                    th:text="${user.getUserCredentials().userName}">
                                                Participant
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <label class="error error-custom" th:errors="*{jury}">participant error placeholder</label>
            <br>
            <br>
            <div class="col-md-12">
                <input type="url" th:name="url" placeholder="Contest background url">
                <p>OR</p>
                <input type="file" name="multiPartFile" id="multiPartFile" placeholder="Choose...."
                       accept="image/png, image/jpeg, image/jpg">
            </div>
            <button class="glow-on-hover" type="submit">Create</button>
        </form>
    </div>
</div>

<script th:src="@{/multiselect/jquery.min.js}" src="../static/multiselect/jquery.min.js"></script>
<script th:src="@{/multiselect/popper.js}" src="../static/multiselect/popper.js"></script>
<script th:src="@{/multiselect/bootstrap.min.js}" src="../static/multiselect/bootstrap.min.js"></script>
<script th:src="@{/multiselect/bootstrap-multiselect.js}" src="../static/multiselect/bootstrap-multiselect.js"></script>
<script th:src="@{/multiselect/main.js}" src="../static/multiselect/main.js"></script>

</body>
</html>