<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest</title>

    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">
</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!--             Uncomment below if you prefer to use a text logo
                        <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="" th:href="@{/}" class="scrollto"><img th:src="@{/assets/img/logo.png}"
                                                            src="../static/assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul th:if="${currentUser == null}">
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Contests</a></li>
                <li><a class="nav-link scrollto" href="#venue">Top pictures</a></li>
                <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                <li><a class="nav-link scrollto" href="#buy-tickets">Ranks</a></li>
            </ul>
            <ul th:if="${currentUser != null}">

                <li><a class="nav-link" href="#"
                       th:href="@{/users/leaderboard}">Leaderboard</a>
                </li>

                <li><a class="nav-link" href="#" th:href="@{/contests/ongoing}">Contests</a>
                </li>
                <li th:if="${currentUser.isOrganizer()}"><a class="nav-link" href="#"
                                                            th:href="@{/users}">Users</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/notifications}">Notifications</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/categories}">Categories</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/users/{id}/profile(id=${currentUser.getId()})}">Profile</a>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" th:if="${currentUser == null}" th:href="@{/auth/login}" href="#">Login</a>
        <a class="buy-tickets scrollto" th:if="${currentUser != null}" th:href="@{/auth/logout}" href="#">Logout</a>
    </div>
</header><!-- End Header -->

<section id="hero-contest" th:style="|background-image:url(${contest.getBackgroundImage()});|">
</section>
<section>
    <div class="container single-contest">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card-custom">
                    <div class="card__side card__side--front-1">
                        <div class="card__title card__title--1">
                            <h4 class="card__heading" th:text="*{contest.getCategory().getName()}">Basic</h4>
                        </div>

                        <div class="card__details">
                            <div class="col-lg-6 col-md-6 card-text-custom">
                                <p th:text="#{contest.label.type}">INFO</p>
                                <p th:text="#{contest.label.phase}">INFO</p>
                                <p th:text="#{contest.label.creator}">INFO</p>
                                <p th:text="#{contest.label.participants}">INFO</p>
                                <p th:text="#{contest.label.end}">INFO</p>
                                <p th:text="#{contest.label.voting}">LONG TEXT</p>
                            </div>
                            <div class="col-6 card-text-custom">
                                <p th:text="*{contest.getType().getName()}">Unmetered Bandwidth</p>
                                <p th:text="*{contest.getPhase().getName()}">Unmetered Bandwidth</p>
                                <p th:text="*{contest.getUser().getFirstName() + ' ' + contest.getUser().getLastName()}">
                                    50 GB SSD Storage</p>
                                <p th:text="*{contest.getParticipants().size()}">Participants</p>
                                <p th:text="*{#dates.format(contest.getTimeTillFinished(),'yyyy-MM-dd HH:mm')}">
                                    Unmetered Bandwidth</p>
                                <p id="timer" th:text="*{contest.timeTillVoting}">Unmetered Bandwidth</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card-custom">
                    <div class="card__side card__side--front-2">
                        <div class="card__title card__title--1">
                            <h4 class="card__heading" th:text="*{contest.getTitle()}">Basic</h4>
                        </div>

                        <div class="card__details">
                            <ul>
                                <li th:if="${currentUser.equals(contest.getUser())}">
                                    <a href="#" th:href="@{/contests/{id}/update(id=${contest.getId()})}">
                                        <button class="glow-on-hover" type="button">UPDATE</button>
                                    </a>
                                </li>
                                <li th:if="${currentUser.isOrganizer()}">
                                    <a href="#" th:href="@{/contests/{id}/participants(id=${contest.getId()})}">
                                        <button class="glow-on-hover" type="button">PARTICIPANTS</button>
                                    </a>
                                </li>

                                <li th:if="${contest.getPhase().getName().equals('ongoing') && !userActions.isParticipant()
                                && !userActions.isJury() && !currentUser.isOrganizer()}">
                                    <a href="#"
                                       th:href="@{__${#httpServletRequest.requestURI}__/user/{id}(id=${currentUser.getId()})}">
                                        <button class="glow-on-hover" type="button">JOIN</button>
                                    </a>
                                </li>
                                <div th:if="${contest.getPhase().getName().equals('ongoing')}">
                                    <li th:if="${!userActions.isHasImageUploaded() && userActions.isParticipant()}">
                                        <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/upload}">
                                            <button type="button" class="glow-on-hover">
                                                UPLOAD PHOTO
                                            </button>
                                        </a>
                                    </li>
                                    <li th:if="${userActions.isHasImageUploaded()}">
                                        <p class="custom-text">Image is uploaded, come back when contest is finished to
                                            see result</p>
                                    </li>
                                </div>
                                <li th:if="${userActions.isJury()}">
                                    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/images}">
                                        <button class="glow-on-hover" type="button">REVIEW PHOTOS</button>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br><br>
<br><br><br><br>
<section th:if="*{contest.getPhase().getName() == 'finished'}">
    <div class="section-header">
        <h2>Winner photos</h2>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" th:each="image: ${contest.getWinnerImages()}">
            <ul>
                <div class="speaker">
                    <a href="#" th:href="@{/images/{id}(id=${image.getId()})}"><img th:src="*{image.getUrl()}"
                                                                                    src="../static/assets/img/speakers/1.jpg"
                                                                                    alt="Speaker 1"
                                                                                    class="img-fluid"></a>
                </div>
            </ul>
            </ul>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="section-header">
        <h2>Recent photos</h2>
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6" th:each="image: ${contest.getImages()}">
            <ul>
                <div class="speaker">
                    <a href="#" th:href="@{/images/{id}(id=${image.getId()})}">
                        <img th:src="*{image.getUrl()}" src="../static/assets/img/speakers/1.jpg"
                             alt="Speaker 1" class="img-fluid"></a>
                </div>
            </ul>
            </ul>
        </div>
    </div>
</section>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<script src="assets/js/main.js"></script>

<script th:inline="javascript">
    var x = setInterval(function () {
        var countDownDate = new Date([[${contest.timeTillVoting}]]).getTime();

        var now = new Date().getTime();

        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById('timer').innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById('timer').innerHTML = "Closed";
        }
    }, 1000);
</script>
</body>
</html>