<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/assets/css/not-found.css}" href="../static/assets/css/not-found.css" rel="stylesheet">
</head>
<body>

<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="main">
    <h1>404</h1>
    <p>It looks like you're lost...<br/>That's a trouble?</p>
    <a href="#" th:href="@{/}">
    <button type="button" >Go back</button></a>
</div>
</body>
</html>