<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review</title>

    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!--             Uncomment below if you prefer to use a text logo
                        <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="" th:href="@{/}" class="scrollto"><img th:src="@{/assets/img/logo.png}"
                                                            src="../static/assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul th:if="${currentUser == null}">
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Contests</a></li>
                <li><a class="nav-link scrollto" href="#venue">Top pictures</a></li>
                <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                <li><a class="nav-link scrollto" href="#buy-tickets">Ranks</a></li>
            </ul>
            <ul th:if="${currentUser != null}">

                <li><a class="nav-link" href="#"
                       th:href="@{/users/leaderboard}">Leaderboard</a>
                </li>

                <li><a class="nav-link" href="#" th:href="@{/contests/ongoing}">Contests</a>
                </li>
                <li th:if="${currentUser.isOrganizer()}"><a class="nav-link" href="#"
                                                            th:href="@{/users}">Users</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/notifications}">Notifications</a>
                </li>
                <li><a class="nav-link" href="#"
                       th:href="@{/categories}">Categories</a>
                </li>
                <li><a class="nav-link" href="#"
                       th:href="@{/users/{id}/profile(id=${currentUser.getId()})}">Profile</a>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" th:if="${currentUser == null}" th:href="@{/auth/login}" href="#buy-tickets">Login</a>
        <a class="buy-tickets scrollto" th:if="${currentUser != null}" th:href="@{/auth/logout}" href="#buy-tickets">Logout</a>
    </div>
</header><!-- End Header -->

<section id="speakers">
    <div class="container">
        <div class="section-header">
            <h2 th:text="*{image.getTitle()}">TEXT</h2>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="speaker">
                    <img th:src="*{image.getUrl()}" src="../static/assets/img/speakers/1.jpg"
                         alt="Speaker 1" class="img-fluid">

                    <div th:if="${userActions.isJury() || currentUser.isOrganizer()}">
                        <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/remove}">
                            <button class="glow-on-hover" type="submit">
                                REMOVE IMAGE
                            </button>
                        </a>
                    </div>

                    <div class="container single-contest">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="card-custom">
                                    <div class="card__side card__side--front-1">
                                        <div class="card__title card__title--1">
                                            <h4 class="card__heading" th:text="*{image.getTitle()}">Title</h4>
                                        </div>

                                        <div class="card__details">
                                            <div class="col-lg-6 col-md-6 card-text-custom">
                                                <p th:text="#{image.label.uploader}">uploader</p>
                                                <p th:text="#{image.label.story}">Story</p>
                                            </div>
                                            <div class="col-6 card-text-custom">
                                                <p th:text="*{image.getUploader().getFirstName() + ' ' + image.getUploader().getLastName()}">
                                                    Uploader Name</p>

                                            </div>
                                        </div>
                                        <span class="custom-text-story" th:text="*{image.getStory()}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="card-custom">
                                    <div class="card__side card__side--front-2">
                                        <h3 class="custom-text-rate"> Rate </h3>
                                        <h3 class="custom-text-rate" th:text="${rateTwice}"></h3>
                                        <form class="login-form" action="#"
                                              th:action="@{__${#httpServletRequest.requestURI}__}"
                                              th:object="${imageReview}" method="post">
                                            <div id="card-own" class="card__details">

                                                <label class="text-label-own"
                                                       th:text="#{review.label.points}">Points</label>
                                                <br/>
                                                <input class="input-custom-field" type="number"
                                                       th:field="*{points}"/>
                                                <br>
                                                <label class="error error-custom" th:errors="${imageReview.points}">Name
                                                    error
                                                    placeholder</label>
                                                <br/>
                                                <label class="text-label-own"
                                                       th:text="#{review.label.comment}">Comment</label>
                                                <br/>
                                                <textarea cols="60" rows="6" th:field="*{comment}">
                                            </textarea>

                                                <br>
                                                <label class="error error-custom" th:errors="${imageReview.comment}">Name
                                                    error
                                                    placeholder</label>
                                                <br/><br/>


                                                <ul>
                                                    <li>
                                                        <a>
                                                            <button class="glow-on-hover" type="submit">SUBMIT</button>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>