<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>iPhoto</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!--             Uncomment below if you prefer to use a text logo
                        <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="" th:href="@{/}" class="scrollto"><img th:src="@{/assets/img/logo.png}"
                                                            src="../static/assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul th:if="${currentUser == null}">
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Contests</a></li>
                <li><a class="nav-link scrollto" href="#hotels">Top pictures</a></li>
                <li><a class="nav-link scrollto" href="#buy-tickets">Ranks</a></li>
            </ul>
            <ul th:if="${currentUser != null}">

                <li><a class="nav-link" href="#"
                       th:href="@{/users/leaderboard}">Leaderboard</a>
                </li>

                <li><a class="nav-link" href="#" th:href="@{/contests/ongoing}">Contests</a>
                </li>
                <li th:if="${currentUser.isOrganizer()}"><a class="nav-link" href="#"
                                                            th:href="@{/users}">Users</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/notifications}">Notifications</a>
                </li>
                <li><a class="nav-link" href="#"
                       th:href="@{/categories}">Categories</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/users/{id}/profile(id=${currentUser.getId()})}">Profile</a>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" th:if="${currentUser == null}" th:href="@{/auth/login}" href="#buy-tickets">Login</a>
        <a class="buy-tickets scrollto" th:if="${currentUser != null}" th:href="@{/auth/logout}" href="#buy-tickets">Logout</a>
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0"><span>i</span>Photo</h1>
        <a href="https://i.imgur.com/5jSDw6U.gif"
           class="glightbox play-btn mb-5"></a>
        <a href="#about" class="about-btn scrollto">About The iPhoto</a>
    </div>
</section><!-- End Hero Section -->

<main id="main">
    <section id="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6">
                    <h2>About The iPhoto</h2>
                    <p>iPhoto is a platform powered by an amazing community that has uploaded hundreds of thousands
                        of their own photos to fuel creativity around the world. You can sign up for free.
                        Either way, you've got access to over a million photos under the iPhoto
                        license - which makes them free to do whatever you like with them.</p>
                </div>
                <div class="col-lg-3">
                    <h3>New contests</h3>
                    <p>Every day there is new OPEN contest.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="speakers">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Recent contests</h2>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6" th:each="contest : ${contests}">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                        <img th:src="*{contest.getBackgroundImage()}" src="../static/assets/img/speakers/1.jpg"
                             alt="Speaker 1" class="img-fluid">
                        <div class="contest-type">
                            <div class="contest-type-text" th:text="*{contest.getType().getName().toUpperCase()}">Open
                            </div>
                        </div>

                        <div class="details">
                            <h3 th:text="*{contest.getCategory().getName()}">Brenden Legros</h3>

                            <p th:text="${#dates.format(contest.getTimeTillFinished(),'yyyy-MM-dd HH:mm')}">Date</p>

                            <p th:text="*{contest.getPhase().getName().toUpperCase()}">Quas alias incidunt</p>
                            <div class="social">
                                <a th:if="${currentUser == null}"
                                   th:href="@{/auth/login}" href="#">
                                    <button class="glow-on-hover">VISIT</button>
                                </a>
                                <a th:if="${currentUser != null}"
                                   th:href="@{/contests/{id}(id=${contest.getId()})}" href="#">
                                    <button class="glow-on-hover">VISIT</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Speakers Section -->

    <section id="hotels" class="section-with-bg">

        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Latest winner photos</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6" th:each="image : ${images}">
                    <div class="hotel">
                        <div class="hotel-img">
                            <a th:if="${currentUser != null}" href="#" th:href="@{/images/{id}(id=${image.getId()})}">
                                <img th:src="*{image.getUrl()}" src="../static/assets/img/hotels/1.jpg" alt="Hotel 1"
                                     class="img-fluid">
                            </a>
                            <a th:if="${currentUser == null}" href="#" th:href="@{/auth/login}">
                                <img th:src="*{image.getUrl()}" src="../static/assets/img/hotels/1.jpg" alt="Hotel 1"
                                     class="img-fluid">
                            </a>
                        </div>
                        <h3 th:text="*{image.getTitle()}"></h3>
                        <p>Uploaded by:</p>
                        <p th:text="*{image.getUploader().getFirstName() + ' ' + image.getUploader().getLastName()}"></p>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Hotels Section -->

    <!-- ======= Buy Ticket Section ======= -->
    <section id="buy-tickets" class="section-with-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>RANKS</h2>
            </div>

            <div class="row">
                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <br>
                            <h6 class="card-price text-center">Junkie</h6>
                            <br>
                            <hr>
                            <ul class="fa-ul">
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Photo Junkie</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>0 - 50 POINTS</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Can't be jury</li>
                                <br>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <br>
                            <h6 class="card-price text-center">Enthusiast</h6>
                            <br>
                            <hr>
                            <ul class="fa-ul">
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Photo Enthusiast</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>51 - 150 POINTS</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Can't be jury</li>
                                <br>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <br>
                            <h6 class="card-price text-center">Master</h6>
                            <br>
                            <hr>
                            <ul class="fa-ul">
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Photo Master</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>151 - 1000 POINTS</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Can be jury</li>
                                <br>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <h6 class="card-price text-center">Dictator</h6>
                            <br>
                            <hr>
                            <ul class="fa-ul">
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Photo Dictator</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>1001+ POINTS</li>
                                <br>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Can be jury</li>
                                <br>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Buy Ticket Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <img th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" alt="iPhoto logo">
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>