<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/css/login.css}" href="../static/assets/css/login.css" rel="stylesheet">

</head>
<body>


<div class="parent clearfix">
    <div class="bg-illustration">
        <img th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" alt="logo">

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="login">
        <div class="container">

            <h1>LOGIN</h1>
            <div class="login-form">
                <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">

                    <input placeholder="Username" th:field="*{userName}">
                    <input type="password" placeholder="Password" th:field="*{password}">
                    <p class="error-custom" th:errors="*{userName}">error.</p>
                    <p class="error-custom" th:errors="*{password}">error.</p>
                    <div class="remember-form">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </div>
                    <button class="glow-on-hover" type="submit">LOG-IN</button>
                    <a href="#" th:href="@{/auth/register}">
                        <button class="glow-on-hover custom-button" type="button">REGISTER</button></a>
                </form>
            </div>

        </div>
    </div>
</div>


</body>
</html>