<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!-- Favicons -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <!--             Uncomment below if you prefer to use a text logo
                        <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="" th:href="@{/}" class="scrollto"><img th:src="@{/assets/img/logo.png}"
                                                            src="../static/assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul th:if="${currentUser == null}">
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#speakers">Contests</a></li>
                <li><a class="nav-link scrollto" href="#venue">Top pictures</a></li>
                <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                <li><a class="nav-link scrollto" href="#buy-tickets">Ranks</a></li>
            </ul>
            <ul th:if="${currentUser != null}">

                <li><a class="nav-link" href="#"
                       th:href="@{/users/leaderboard}">Leaderboard</a>
                </li>

                <li><a class="nav-link" href="#" th:href="@{/contests/ongoing}">Contests</a>
                </li>
                <li th:if="${currentUser.isOrganizer()}"><a class="nav-link" href="#"
                                                            th:href="@{/users}">Users</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/notifications}">Notifications</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/categories}">Categories</a>
                </li>

                <li><a class="nav-link" href="#"
                       th:href="@{/users/{id}/profile(id=${currentUser.getId()})}">Profile</a>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" th:if="${currentUser == null}" th:href="@{/auth/login}" href="#buy-tickets">Login</a>
        <a class="buy-tickets scrollto" th:if="${currentUser != null}" th:href="@{/auth/logout}" href="#buy-tickets">Logout</a>
    </div>
</header><!-- End Header -->

<div class="container">
    <div class="row py-5 px-4">
        <div class="col-md-10 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <img id="image" th:src="*{currentUser.getProfileImage()}"
                                 src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                                 alt="profile image" width="250" class="rounded mb-2 img-thumbnail">
                            <h4 class="mt-0 mb-0 custom-text-name" th:text="*{currentUser.getFirstName().toUpperCase() + ' '
                            + currentUser.getLastName().toUpperCase()}">Mark
                                Williams</h4>

                        </div>
                        <div th:if="${visitor.equals(currentUser)}">
                            <div class="media-body mb-5 text-white">
                                <a href="#" th:href="@{/users/{id}/update(id=${currentUser.getId()})}"
                                   class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item" th:each="points : ${currentUser.getPoints()}">
                            <h5 class="font-weight-bold mb-0 d-block" th:text="*{points.getPoints()}">745</h5><small
                                class="text-muted"> <i class="fas fa-user mr-1"></i>Points</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block" th:text="*{currentUser.getImages().size()}">
                                215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Uploaded
                            photos</small>
                        </li>
                    </ul>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Photos</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1" th:each="image : ${currentUser.getImages()}">
                            <a href="#" th:href="@{/images/{id}(id=${image.getId()})}"><img th:src="*{image.getUrl()}"
                                 src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                 alt="" class="img-fluid rounded shadow-sm">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>