<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/css/login.css}" href="../static/assets/css/login.css" rel="stylesheet">
</head>
<body>


<div class="parent clearfix">
    <div class="bg-illustration">
        <img th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" alt="logo">

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="login">
        <div class="container">
            <h1>Register</h1>

            <div class="login-form">
                <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">

                <input type="text" th:field="*{firstName}" id="inputFirstName" class="form-control"
                       placeholder="First name" required autofocus>
                <p class="error-custom" th:errors="*{firstName}">First name error.</p>

                <input type="text" th:field="*{lastName}" id="inputLastName" class="form-control"
                       placeholder="Last name" required autofocus>
                <p class="error-custom" th:errors="*{lastName}">Last name error.</p>

                <input type="text" th:field="*{userName}" id="inputUsername" class="form-control"
                       placeholder="User name" required>
                <p class="error-custom" th:errors="*{userName}">First name error.</p>

                <input type="password" th:field="*{password}" id="inputPassword" class="form-control"
                       placeholder="Password" required>
                <p class="error-custom" th:errors="*{password}">First name error.</p>

                <input type="password" th:field="*{repeatPassword}" id="inputConfirmPassword"
                       class="form-control" placeholder=" Confirm Password" required>
                <p class="error-custom" th:errors="*{repeatPassword}">First name error.</p>
                <br>
                <br>
                    <button class="glow-on-hover" type="submit">REGISTER</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>